body{
    background: url(blur5.jpg);
    background-size: cover;
}
.first-block{
    width: 80vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
    
}

 .second-block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
.test{
    margin: 10px;
    width: 50vw;
    height: 45vh;
    display: flex;
    background: url(blur1.jpg);
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    box-shadow: 2px 3px 2px black;
    
    z-index: 1;
   
}
.test2{
    margin: 10px;
    width: 86vw;
    height: 35vh;
    background: url(bkur7.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-bottom: 10px solid rgba(54, 54, 54, 0.644);
    border-right: 10px solid rgba(105, 105, 105, 0.527);
    border-left: 10px solid rgba(105, 105, 105, 0.527);
    filter: grayscale(100%);
    box-shadow: 2px 3px 2px black;
    
}

.zaplanowane{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index:1;
    margin-top: 20px;
   
}
.krecha{
    width: 50%;
    height:10px;
    background-color: rgba(54, 54, 54, 0.644);
    transform: skewX(45deg) translateX(-5px);

}
.krecha:after{
    content:"";
    position:absolute;
    width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 0;
border-color: transparent rgba(54, 54, 54, 0.644) transparent transparent;
transform: skewX(-45deg);
left:calc(100% - 5px);
}
.zaplanowane-content{
    width: 100%;
    height: 100%;
    position:relative;
    overflow-y: auto; 
    
    
}
.test2 > h1{
    font-family: 'Encode Sans Expanded', sans-serif;
    letter-spacing: 15px;
    font-weight: 100;
    text-align: center;
    
    width: 34%;
    margin: 0 auto;
    font-size: 1.5em;
    position: absolute;
    z-index: 2;
    right:12%;
    top: 60%;
    color: rgba(54, 54, 54, 0.644);
    text-shadow: 0px 1px 1px rgba(12, 12, 12, 0.596);
    
    
}
.box{
    width: calc(100% / 8);
    height: 30px;
    border: 1px solid rgba(151, 151, 151, 0.137);
    margin: 3px;
   
    font-family: 'Encode Sans Expanded', sans-serif;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.582);
    color: rgba(255, 255, 255, 0.616);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.733);
    /* transition: all 0.35s ease-in; */
    z-index: -1 !important;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}
.test-p{
    width: 200px;
    height: 300px;
    background-color: white;
}
.nazwa-miesiaca{
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size:1.35em;
}
.box:hover{
    background-color: black;
    /* transform: scale(1.1) translateX(10px) translateY(-5px); */
    box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.582);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.438);
    /* font-size: 1.35em; */
    cursor: pointer;
}
.tyg{
    width: calc(100% / 8);
    height: 20px;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size:0.85em;
    line-height: 200%;
    margin: 4px;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(15, 15, 15, 0.445);
    color: rgba(255, 255, 255, 0.719);
}
.linia{
    height:2px;
    /* box-shadow: 0px 0px 1px 1px rgba(66, 66, 66, 0.253); */
    width:90vw;
    float: left;
    
  
background: #aebcbf; /* Old browsers */
background: -moz-linear-gradient(left, #aebcbf 0%, #0a0809 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #aebcbf 0%,#0a0809 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #aebcbf 0%,#0a0809 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=1 ); /* IE6-9 */}
.clock{
    position: relative;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.9em;
    padding:3px;
    width: 20%;
    height:100%;
    opacity:1;
    margin-right: 30%;

    
    
}
.sec{
    opacity: 0.6;
    transition: all 0.5s ease;
    display: inline;
    padding:8px;
}

.box-div-class{
    max-width: 100%;
    max-height: 100%;
    background:url(blur2.jpg);
    
   
    
    
    
    
}

form{
   box-shadow: 2px 2px 3px black;
    z-index: 10;
    width: 100%;
    max-height: 100%;
    background: url(blur2.jpg);
    
}   
fieldset{
    border: 1;
} 

.bottom-block{
    margin-top: -80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.addEvent{
    margin-top: -10vh;
    width: 30vw;
    height: 55vh;
    opacity: 0;
    transition: all .5s ease-in;
    border-radius: 10%;
    font-family: 'Encode Sans Expanded', sans-serif;
}
.pojaw{
   
    opacity: 1 !important;
}
.h2{
    
    display: block;
    font-size: 0.9em;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;    
}


.Planned-Events-Info{
    width:99%;
    margin: 0 auto;
    border: 1px solid red;
    height: 30%;
    margin: 3px auto;
    opacity: 1;
    
}


.Planned-Events-Info{
    width:95%;
    margin: 0 auto;
    margin-bottom: 1px;
    height: 30%;
    margin: 3px auto;
    
    
background: url(blur4.jpg);
background-size: cover;
-webkit-clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 4% 49%, 0% 0%);
clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 4% 49%, 0% 0%);
}
.eventSpan{
font-size: 1.2em;
font-family: 'Quicksand', sans-serif;
color: white;
display:table;
margin-left: 20%;
}
.eventDivKeeper,.eventDivKeeper2{
display: flex;
flex-direction: row;
font-size: 0.85em;
height: 50%;
margin-left: 5%;
color: white;
font-family: 'Quicksand', sans-serif;


}
.eventDivKeeper{
line-height: 2em;
opacity:0.5;
}
.eventSpan-Name, .eventSpan-Name-js{
width: 20%;
margin: 1px;
background: rgba(71, 7, 248, 0.089);
border: 1px dotted rgba(0, 0, 0, 0.445);
border-radius: 4px;
text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.733);
text-align: center;
}
.eventSpan-Name{
font-size: 1em;
text-align: center;
background: rgba(71, 7, 248, 0.281);

}
.eventSpan-FromTime, .eventSpan-FromTime-js{
width: 10%;
background: rgba(160, 18, 18, 0.096);
border: 1px dotted rgba(0, 0, 0, 0.445);
border-radius: 4px;
text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.733);
text-align: center;
}
.eventSpan-FromTime{
font-size: 1em;
text-align: center;
background: rgba(160, 18, 18, 0.267);
}
.eventSpan-ToTime, .eventSpan-ToTime-js{
width: 10%;
background: rgba(160, 18, 18, 0.103);
border: 1px dotted rgba(0, 0, 0, 0.445);
border-radius: 4px;
text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.733);
text-align: center;
}
.eventSpan-ToTime{
font-size: 1em;
text-align: center;
background: rgba(160, 18, 18, 0.267);
}
.eventSpan-Desc, .eventSpan-Desc-js{
width: 40%;
background: rgba(7, 146, 30, 0.123);
border: 1px dotted rgba(0, 0, 0, 0.445);
border-radius: 4px;
text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.733);
text-align: center;
}
.eventSpan-Desc{
background: rgba(7, 146, 30, 0.301);
font-size: 1em;
text-align: center;
}
.exit-Box{
    width:25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    right: 12%;
    z-index: 10;
    background: url(exit3.png);
    background-size: contain;
    background-position: center;
    transition: all 0.4s ease-in;
}
.exit-Box:hover{
    transform: scale(1.3);
}
.prevMonthButt{
    background: url(left_arr2.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    
    cursor: pointer;
    
}
.nextMonthButt{
    background: url(right_arr2.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    
    cursor: pointer;
    
}
.buttony{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20vw;
    
}
#calAdd > p{
line-height: 1.2em;
padding: 10px;
text-align: center;
text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.144);

}
#calAdd > p > span{
    line-height: 1.5em;
    color: white;
    display: inline-table;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    font-size: 1.2em;
    font-family: 'Encode Sans Expanded', sans-serif;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.377);
    
    
}
fieldset{
    display: flex;
    justify-content: center;
    border: 0;
}
input{
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: inline-block;
}
#timeFrom{
    width: 25%;
}
#timeTo{
    width: 25%;
}
#opisWyd{
    margin: 0 auto;
    background-color: rgba(218, 218, 218, 0.37);
    
}
#nazWyd::placeholder{
    color: rgba(109, 109, 109, 0.904);
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Encode Sans Expanded', sans-serif;
    
    
}
#opisWyd::placeholder{
    color: white;
    text-align: center;
    
}
fieldset{
    border: 1px dashed rgba(192, 192, 192, 0.11);
}
textarea{
    border: 1px dashed rgba(192, 192, 192, 0.11);
}
#wrzucDane{
    display: block;
    margin: 0 auto;
    width: 40%;
    height:100%;
    padding: 10px;
    font-family: 'Encode Sans Expanded', sans-serif;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: rgba(0, 0, 0, 0.205);
    border: 1px dashed rgba(192, 192, 192, 0.11);
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.295);
    color: white;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.199);
    border-radius: 10%;
}
.has-Event{
    position: relative;
    line-height: 0.5em;
    width: 10%;
    height: 20%;
    
    
    border: 1px solid rgba(82, 82, 82, 0.404);
    background-color: white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.404);
}
.today{
   background-color: rgba(255, 255, 255, 0.479);
   color: black;
   text-shadow: 0px 2px 1px black;
   font-size: 1.6em;
   font-weight: 600;
   font-family: 'Quicksand', sans-serif;
}
/* BREAKPOITY DLA ROZNYCH WIELKOSCI WYSWIETLACZY */
@media all and (min-width:1200px){ }
@media all and (min-width: 960px) and (max-width: 1199px) { }
@media all and (min-width: 768px) and (max-width: 959px) {  }
@media all and (min-width: 480px) and (max-width: 767px){  }
@media all and (max-width: 599px) {  }

@media only screen and (max-width: 479px) { 
    body > div.first-block{
        width: 90vw;
        height: 5vh;
        flex-direction: row;
    }
    .clock{
        font-size: 0.9em;
        width: 50%;
    }
    .nazwa-miesiaca{
        font-size: 0.8em;
    }
    .test{
        width: 90vw;
        height: 35vh;
    }
    .tyg{
        font-size: 0.45em;
        margin: 0;
        padding: 2px;
    }
    .box{
        margin-right: 5px;
        margin-left: 5px;
        height: 20px;
        font-size: 0.7em;
        width: calc(100% / 10)
    }
    .second-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
}
.nextMonthButt{
    width: 50px;
    height: 30px;
    z-index: 10;
    position: absolute;
    top: 6vh;
    left: 83vw;
}
.prevMonthButt{
    width: 50px;
    height: 30px;
}

.addEvent{
    width: 85vw;
    height:60vh;
    position: relative;
    margin: 0 auto;
    z-index: 11;
    min-height:50vh;
    
    

    
}
.third-block{
    margin-top: 20vh;
}
#calAdd{
   
    width: 85vw;
    height: 45vh;
    margin-top: 5px;
    margin: 0 auto;
    z-index: 11;
    background-color: black;
    background-size:cover;
    min-height:45vh;
}
form{
    
    width: 85vw;
    height: 45vh;
    margin-top: 5px;
    margin: 0 auto;
    z-index: 11;
    background-color: black;
    background-size:cover;
    min-height:45vh;
}
#calAdd > p{
    font-size: 0.5em;
    padding: 2px;
}
#nazWyd::placeholder{
    color: rgba(109, 109, 109, 0.904);
    text-align: center;
    font-size: 0.6em;
    font-weight: 600;
    font-family: 'Encode Sans Expanded', sans-serif;
}
#calAdd > fieldset:nth-child(3) > label{ /*Czas od do */
    font-size: 0.6em;
    margin: 0 auto;
    height: 8%;
}
#calAdd > fieldset:nth-child(4) > label{ /*nie pokazywanie labela for opis wydarzenia */
    display: none;
}
.has-Event {
    /* position: relative; */
    line-height: 0.2em;
    width: 10%;
    height: 12%;
    /* border: 1px solid rgba(82, 82, 82, 0.404); */
    background-color: white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.404);
    border: 0;
}
#opisWyd{
    height: 2em;
    width: 15em;
    margin-top: -10px;
}
#calAdd > fieldset:nth-child(4){
    width: 10vw;
    height: 10vh;
    margin-top: 2px;
    margin: 0 auto;
    z-index: 11;
    
}
#wrzucDane{
    font-size: 0.65em;
    height: 30px;
       
}
/*Stylowanie  strzalek eventow */
.eventSpan-Name{
    font-size: 0.65em;
    line-height: 1.3em;
}
.eventSpan-FromTime{
    font-size: 0.65em;
    line-height: 1.3em;
}
.eventSpan-ToTime{
    font-size: 0.65em;
    line-height: 1.3em;
}
.eventSpan-Desc{
    font-size: 0.65em;
    line-height: 1.3em;
}
.eventSpan-Name-js{
    font-size: 0.65em;
    line-height: 1.3em;
}
.eventSpan-FromTime-js{
    font-size: 0.65em;
    line-height: 1.3em;
    
}
.eventSpan-ToTime-js{
    font-size: 0.65em;
    line-height: 1.3em;
}
.eventSpan-Desc-js{
    font-size: 0.65em;
    line-height: 1.3em;
}
.exit-Box{
    width: 18px;
    height: 18px;
}
.zaplanowane-h{
    font-family: 'Encode Sans Expanded', sans-serif;
    letter-spacing: 3px !important;
    font-weight: 100;
    text-align: center;
    width: 40%!important;
    margin: 0 auto;
    font-size: 0.8em!important;
    position: relative;
    z-index: 2;
    right: 8%!important;
    top: 127%!important;
    color: rgba(231, 231, 231, 0.644)!important;
    text-shadow: 0px 1px 1px rgba(12, 12, 12, 0.596);
    
}
}